// Variable assignment
//set breakpoint sizes
$break-small: 20em;
$break-medium: 31em;
$break-large: 60em;
//colors
$body-background-color: #FAEBD7;
$header-background-color: #6495ED;
$color-nav: white;
$nav-act:#DEB887;
$family: unquote("family=Lora&family=Roboto");
@import url('https://fonts.googleapis.com/css2?=#{$family}');
body {
    background-color: $body-background-color;
    font-size: 18px;
    margin: 0;
}

header {
    background-color: $header-background-color;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    height: auto;
    padding-right: 10px;
    padding-left: 20px;
    text-decoration: none;
}

a,
h1 {
    color: $body-background-color;
    text-align: right;
    text-decoration: none;
}

nav {
    text-align: right;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style: none;
    /*removes the bullets! */
}

@mixin hover {
    text-decoration: underline;
}

nav a:hover {
    color: $color-nav;
    @include hover;
}

@mixin active {
    color: $nav-act;
}

nav a:active {
    @include active;
}

main {
    background-color: $body-background-color;
}

article {
    background-color: $color-nav;
    margin: auto;
    display: block;
    margin: 20px 30px 20px 20px;
}

figure {
    margin: auto;
    display: block;
}

img {
    width: 80%;
    margin: auto;
    display: block;
}

.post-date {
    padding-top: 20px;
    padding-left: 20px;
}

section a {
    color: black;
}

section a:active {
    @include active;
}

p a {
    color: $header-background-color;
}

section h2,
p {
    text-align: left;
    margin-left: 20px;
}

p a:hover {
    @include hover;
}

article h2 a:hover {
    color: $header-background-color;
    @include hover;
}

article h2 a:active {
    @include active;
}

h1,
h2 {
    font-family: 'Lora', serif;
}

@mixin large-text {
    div {
        display: grid;
        grid-template-columns: 300px 1fr;
    }
    header {
        grid-column: 1/2;
    }
    main {
        grid-column: 2/3;
    }
    article {
        width: 60%;
        margin: auto;
        display: block;
        margin-top: 30px;
    }
    img {
        width: 50%;
    }
}

@media (min-width: 61em) {
    @include large-text;
}

@media (max-width: 60em) {
    @include large-text;
    body,
    main {
        background: red;
    }
}

@media (max-width: 31em) {
    body,
    main {
        background: cyan;
    }
    div {
        display: block;
    }
}

@media (max-width: 20em) {
    body,
    main {
        background: green;
    }
    div {
        display: block;
    }
}

@media (max-width: 480px) {
    body,
    main {
        background: yellow;
    }
    div {
        display: block;
    }
}